<h2><%if(user.role=='member'){%>Contribute<%}else{%>Add<%}%> a new book to my library</h2>
<form action="/books/new" method="POST">
    <div class="d-flex justify-content-between flex-wrap">
    <div class="mb-3" style="min-width: 49%;">
        <label for="id" class="form-label">ISBN</label>
        <input type="number" class="form-control" name="id" required>

        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" maxlength="200" required>

        <div>
            <label for="auth0" class="form-label">Authors</label>
            <input type="text" class="form-control" id="auth0" name="auth0" required>
            <span id="auths_container"></span>
            <button type="button" id="add_auth">Add</button>
            <button type="button" id="rem_auth">Remove</button>
        </div>

        <div>
            <label for="cat0" class="form-label">Categor(ies)</label>
            <select name="cat0" id="cat0" class="form-control" required>
                <%cats.forEach(cat=>{%>
                    <option value="<%-cat.id%>"><%=cat.name%></option>
                <%})%>
            </select>
            <span id="cats_container"></span>
            <button type="button" id="add_cat">Add</button>
            <button type="button" id="rem_cat">Remove</button>
        </div>

        <label for="pbdate" class="form-label">Publish date</label>
        <input type="date" class="form-control" id="pbdate" name="pbDate" required>

        <label for="copies" class="form-label">Copies</label>
        <input type="number" class="form-control" id="copies" name="copies" min="1" max="30">
        
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" min="1.0" step=".01">
    </div>
    <div class="mb-3" style="min-width: 50%;">        
        <label for="desc" class="form-label">Description</label>
        <textarea name="desc" class="form-control" id="desc" cols="20" rows="5" placeholder="A short description of the new book (at most 5000 characters)"></textarea>

        <label for="uploaded_img" class="form-label">Book cover (file size &lt;= 1mb)</label>
        <div class="image-preview" id="imagePreview">
            <input type="file" id="uploaded_img" accept="image/*" required>
            <input type="hidden" name="imgType" id="imgType">
            <input type="hidden" name="imgContent" id="imgContent">
            <img src="" alt="Image preview" class="image-preview__image">
            <span class="image-preview__default-text">Image preview</span>
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary" style="position: absolute;left: 44%;">Submit</button>
</form>

<%const _cats = JSON.stringify(cats);%>

<script src="/scripts/img_preview.js"></script>
<script>
    // propagate new authors fields
    init_image_preview(
        document.getElementById('uploaded_img'), 
        document.getElementById('imagePreview'), 
        document.getElementById('imgContent'), 
        document.getElementById('imgType'));
    let auth_count=1;
    document.getElementById('add_auth').addEventListener('click', ()=>{
        let input   = document.createElement('input');
        input.type  = 'text';
        input.name  = `auth${auth_count++}`;
        input.id    = input.name;
        input.classList.add("form-control");
        document.getElementById('auths_container').appendChild(input);
    })
    
    document.getElementById('rem_auth').addEventListener('click', ()=>{document.getElementById(`auth${--auth_count}`).remove();})

    // propagate new authors fields
    let cat_count=1;
    const cats = JSON.parse('<%-_cats%>');
    document.getElementById('add_cat').addEventListener('click', ()=>{
        let select  = document.createElement('select');
        select.name = `cat${cat_count++}`;
        select.id   = select.name;
        select.classList.add("form-control");
        cats.forEach(cat=>{
            let option = document.createElement('option');
            option.value = `${cat.id}`;
            option.text = cat.name;
            select.appendChild(option);
        })
        document.getElementById('cats_container').appendChild(select);
    })

    document.getElementById('rem_cat').addEventListener('click', ()=>{document.getElementById(`cat${--cat_count}`).remove();})

</script>