<form action="/renewPass" method="POST">
    <input type="hidden" name="uID" value="<%-uID%>">
    <input type="hidden" name="otp" value="<%-otp%>">
    <label for="newPass">New password: </label>
    <input type="password" name="newPass" id="newPass">
    <button type="submit">Submit</button>
</form>