<%if(messages.error){%>
    <%-messages.error%>
<%}%>
<form action="/changePass" method="POST">
    <label for="oldPass">Forgot password?</label>
    <input type="checkbox" name="forget" id="forget" value="false">
    <label for="oldPass">Old password: </label>
    <input type="password" name="oldPass" id="oldPass">
    <label for="newPass">New password: </label>
    <input type="password" name="newPass" id="newPass">
    <button type="submit">Submit</button>
</form>
<script>
    document.getElementById('forget').addEventListener('changed', function(){
        let oldPass = document.getElementById('oldPass');
        let newPass = document.getElementById('newPass');
        oldPass.disabled = !oldPass.disabled;
        newPass.disabled = !newPass.disabled;
        this.value = `${this.checked}`;
        let submit_btn = document.getElementsByTagName('button')[0]
        submit_btn.innerText = submit_btn.innerText=='Submit' ? 'Next' : 'Submit';
    })
</script>